.sidebar {
  display: flex;
  gap: 12px;
  padding-top: 15px;
}

.sidebar__username {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  width: 157px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
}
